.page {
    width: 100%;
    height: 100dvh;
}

.container {
    margin: 5px;
    padding: 5px;
}

fieldset {
    border: 2px solid var(--p);
    border-radius: 5px;
}

fieldset > legend {
    margin-left: 10px;
}